<style>
	a {
		padding-left: 20px;	
	}
</style>

<%@pattern = @user.pattern%>

<h2> Player Patterm: <%=@pattern%></h2>
<h2>Turns Left:<%=@user.turns_left%></h2>


<p><%= link_to "Red", red_users_path(@user) %>
<%= link_to "Green", green_users_path(@user) %>
<%= link_to "Yellow", yellow_users_path(@user) %>
<%= link_to "Blue", blue_users_path(@user) %></p>
